**/tmp
**/.env
**/static
**/.vite
.DS_Store
.codex
AGENTS.md
CLAUDE.md
.pnpm-store
.m2/
app/java-backend/target/
app/*/target/
common/target/
java/**/target/
.codex-home
.claude
test.sh
test/
start.sh
